[submodule "CommonInterfaces"]
	path = CommonInterfaces
	url = https://github.com/XRay3D/CommonInterfaces.git
[submodule "ElemerDevice"]
	path = ElemerDevice
	url = git@github.com:XRay3D/ElemerDevice.git
